<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>

      <setCustomCrmProperty>
      </setCustomCrmProperty>

    </pipelines>

    <AntiCsrf cookieName="__CSRFCOOKIE" formFieldName="__CSRFTOKEN" detectionResult="RaiseException" errorPage="" enabled="true">
      <rules>
        <rule name="CRM">
          <urlPrefix>/sitecore/shell</urlPrefix>
          <ignore contains="/sitecore/shell/~/xaml/Sitecore.CrmCampaignIntegration.Shell.UI.Dialogs.LookupRecords.aspx"/>
        </rule>
      </rules>
    </AntiCsrf>
  </sitecore>
</configuration>
